* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/gymformulario.jpg);
    background-size: cover;
    color: rgb(250, 250, 250);
}

.form-register {
    width: 400px;
    background: #27352e;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #ffffff;
    box-shadow: 7px 13px 37px #000;
}

#titulo-registro {
    text-align: center;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #27352e;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #4dcafc;
    font-family: 'calibri';
    font-size: 18px;
    color: #ffffff;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-register a {
    color: #ffffff;
    text-decoration: none;
}

.form-register a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #24769c;
    border: none;
    padding: 12px;
    color: #ffffff;
    margin: 16px 0;
    font-size: 16px;
}

@media (max-width: 520px) {
    .container {
        padding: 40px 20px;
    }
    .contenido .info,
    .contenido .formulario {
        width: 100%;
        padding: 0px;
    }
    .contenido .info {
        margin-bottom: 30px;
    }
}

@media (max-width: 520px) {
    .contenido .info,
    .contenido .formulario {
        width: 100%;
        padding: 0px;
    }
    .contenido .info {
        margin-bottom: 30px;
    }
}